<h3>{{ title() }}</h3>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="accountNumber">Número de cuenta</label>
    <input
      spellcheck="false"
      autocomplete="off"
      type="text"
      id="accountNumber"
      formControlName="accountNumber"
    />
  </div>
  <div class="form-field">
    <label for="type">Tipo</label>
    <select id="type" formControlName="type">
      <option value="savings">Ahorros</option>
      <option value="checking">Corriente</option>
    </select>
  </div>
  <div class="form-field">
    <label for="openingBalance">Saldo inicial</label>
    <input type="number" id="openingBalance" formControlName="openingBalance" min="0" />
  </div>
  <div class="form-field">
    <label for="clientId">Cliente</label>
    <select id="clientId" formControlName="clientId">
      <option value="" disabled>Seleccione un cliente</option>
      @for (client of clientStore.clients(); track client.id) {
        <option [value]="client.id">{{ client.name }}</option>
      }
    </select>
  </div>
  <div class="actions">
    <ctc-button type="submit" label="Guardar cuenta" size="lg" />
    <ctc-button label="Volver" size="lg" color="secondary" routerLink="/account" />
  </div>
</form>
