:host {
  display: block;
}

.list-movement {
  &__filters {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 24px;

    .form-field {
      flex: 1;
      min-width: 160px;
      margin-bottom: 0;
    }
  }

  &__table {
    display: block;
  }
}
